# Starter pipeline    
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
trigger:
- main
- build-deploy

# TODO: Replace the agent pool name
pool: flask_agent_pool

variables:
  # TODO: Replace the service connection name as used in the DevOps project settings
  azureServiceConnectionId: 'flask_sc'
  
  # TODO: Specify the value of the existing Web App name
  webAppName: 'flask167'

  # Environment name
  environmentName: 'venv'

  # Project root folder. Point to the folder containing manage.py file.
  projectRoot: $(System.DefaultWorkingDirectory)

stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: BuildJob
    pool: flask_agent_pool
    steps:       
    - script: |
        python3 --version
        python3.10 --version
      displayName: 'Run a multi-line script'
      
    - script: |
        python3.10 -m venv venv
        source venv/bin/activate
        python -- version
        make install
      workingDirectory: $(projectRoot)
      displayName: 'myStep 1'

    - script: |
        source venv/bin/activate
        python -- version
        make lint
      workingDirectory: $(projectRoot)
      displayName:  'myStep 2 - Run lint tests'

    - task: ArchiveFiles@2
      displayName: 'myStep 3 - Archive files'
      inputs:
        rootFolderOrFile: '$(projectRoot)'
        includeRootFolder: false
        archiveType: zip
        archiveFile: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
        replaceExistingArchive: true

    - upload: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
      displayName: 'myStep 5 - Upload package'
      artifact: drop
- stage: Deploy
  displayName: 'Deploy Web App'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: DeploymentJob
    pool: flask_agent_pool
    environment: $(environmentName)
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            displayName: 'Deploy Azure Web App : '
            inputs:
              azureSubscription: $(azureServiceConnectionId)
              appName: $(webAppName)
              appType: webAppLinux
              package: $(Pipeline.Workspace)/drop/$(Build.BuildId).zip