name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v5.1.0
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: make install

    - name: Run lint
      run: make lint
      
    - name: Run tests
      run: make test
      
      
